* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --loadColor: orange;
  --restColor: rgb(0, 153, 255);
  --readyColor: rgb(127, 168, 62);
  --pausedColor: rgb(255, 60, 0);
  --titleSize: 40px;
  --titleWeight: bold;
  --secondaryTitleSize: 20px;
  --secondaryTitleWeight: bold;
}

body {
  height: 100vh;
  background: var(--readyColor);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.content-width {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.loadTime {
  /*  height: 20px; */
  width: 60px;
  justify-self: center;
  font-size: 20px;
  text-align: right;
}

.lab {
  justify-self: center;
  font-size: var(--titleSize);
  font-weight: var(--titleWeight);
}

.secondaryLabel {
  justify-self: center;
  font-size: var(--secondaryTitleSize);
  font-weight: var(--secondaryTitleWeight);
}

/*load section*/
#loadLab {
  grid-area: loadLabel;
}

#loadMinLab {
  grid-area: loadMinLabel;
  justify-self: center;
}

#loadSecLab {
  grid-area: loadSecLabel;
  justify-self: center;
}

#loadMin {
  grid-area: loadMinInput;
  justify-self: center;
}

#loadDelim {
  grid-area: loadDelimiter;
  justify-self: center;
}

#loadSec {
  grid-area: loadSecInput;
  justify-self: center;
}

.loadDef {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 5px 1fr 2fr;
  grid-template-areas:
    "loadLabel     loadLabel    loadLabel    loadLabel    loadLabel"
    "    .        loadMinLabel      .        loadSecLabel     .    "
    "    .        loadMinInput loadDelimiter loadSecInput     .    ";
  justify-content: center;
}

/* rest section */
#restLab {
  grid-area: restLabel;
}

#restMinLab {
  grid-area: restMinLabel;
  justify-self: center;
}

#restSecLab {
  grid-area: restSecLabel;
  justify-self: center;
}

#restMin {
  grid-area: restMinInput;
}

#restDelim {
  grid-area: restDelimiter;
  justify-self: center;
}

#restSec {
  grid-area: restSecInput;
}

.restDef {
  padding: 10px;

  display: grid;
  grid-template-columns: 2fr 1fr 5px 1fr 2fr;
  grid-template-areas:
    "restLabel    restLabel    restLabel      restLabel  restLabel"
    "    .       restMinLabel      .        restSecLabel    .     "
    "    .       restMinInput restDelimiter restSecInput    .     ";
  justify-content: center;
}

/* repaet section */
#repeatLab {
  grid-area: repeatLabel;
}

#repeat {
  grid-area: repeatInput;
}

.repeatDef {
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "repeatLabel repeatLabel repeatLabel"
    "      .     repeatInput       .    ";
  justify-content: center;
}

/* button definition*/
.buttons {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  padding: 10px;
  width: 100px;
  background: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  border: none;
}

#startBtn {
  cursor: pointer;
}

#resetBtn {
  cursor: not-allowed;
}

.progressBars {
  padding: 10px 0;
}

.progressTitleDiv {
  text-align: center;
}
/*
.progressTitle {
  font-weight: bold;
}
  */
.progress1 {
  width: 0%;
  height: 20px;
  background: var(--pausedColor);
  text-align: center;
  align-content: center;
}

.progress2 {
  width: 100%;
  height: 20px;
  border: 1px solid var(--pausedColor);
  background: none;
}

.progressLoad {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.progressLab {
  font-weight: bold;
}

#statLab {
  text-align: center;
}
